@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#151515;
    --color-secundario:#A91D3A;
    --color-terciario:#C73659;
    
    --fuente-monserrat: 'Monserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;

}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}
.header_menu{
    
    display: flex;
    gap: 80px;

}

.header_menu_link{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}
.h1 {
    color:#22f4df; 
}

.container{
    padding:8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
    
}

.presentacion_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion-container-titulo{
    font-size: 2.2rem;
    font-family: var(--fuente-krona);
    
}

.presentacion-container-texto{
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
}

.link_presentacion{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.presentacion_enlace{
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link_presentacion_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
}


.presentacion_enlace:hover{
    background-color: #272727;
}


.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: #000;
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__imagen{
    width: 50%;
}


@media(max-width:1200px){
    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion_container{
        width: auto;
    }
}